@model LibraryApp.Models.ViewModels.LinkSentViewModel
@{
    ViewData["Title"] = "Confirm your email";
}

@section styles {
    <link rel="Stylesheet" href="~/css/link-sent-styling-fv.css" />
}

<div class="outer-div d-flex flex-column justify-content-center align-items-center">
    <div class="inner-div">
        <h1 class="text-center">One more step!</h1>
        <p class="upper-line text-center">We have sent you a confirmation link on your email address.</p>
        <p class="lower-line text-center">Clicking it will finalize Your registration process.</p>
        <p class="text-center">Activation link validity time: @Model.EmailValidityInHours hours.</p>
    </div>
</div>

