@{
}

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 75vh">
    <h2 class="text-center">You have reached renewals limit!</h2>
    <h4 class="text-center">You can't renew this rental. The old deadline remains valid.</h4>
</div>
