@model LibraryApp.Models.Database.Entities.Rental
@{
}

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 75vh">
    <h2 class="text-center">Rental for <i>@Model.BookCopy.Book.Title</i> was successfully renewed</h2>
    <h4 class="text-center">You can find all of your rentals in Rentals tab</h4>
</div>
