@{
}

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 75vh">
    <h2 class="text-center">You have unpaid penalties!</h2>
    <h4 class="text-center">You can't renew your rentals until you pay all your penalties.</h4>
</div>
