@model LibraryApp.Models.RentalsViewModel
@{

}

@if (Model.Rentals.Any())
{
    <div class="row">
        <div class="col-lg-6">
            @foreach (var rental in Model.Rentals)
            {
                <div>
                    <p>Here goes rental info</p>
                </div>
            }
        </div>
    </div>
} else
{
    <h2>Couldn't find any rentals</h2>
}

