@model IEnumerable<LibraryApp.Models.Database.Entities.Rental>
@{

}

@section styles {
    <link rel="Stylesheet" href="~/css/rentals-styling-fv.css" />
}

@if (Model.Any())
{
    <div class="row justify-content-center">
        <div class="col-lg-8">
            @foreach (var rental in Model)
            {
                <div class="card mb-3">
                  <div class="row no-gutters">
                    <div class="col-lg-8 col-md-4">
                      <div class="card-body">
                        <h5 class="card-title">@rental.BookCopy.Book.Title</h5>
                        <p class="card-text author-text">@rental.BookCopy.Book.Author</p>
                        <p class="card-text deadline-text">Return deadline: @rental.CurrentDeadline</p>
                      </div>
                    </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="rental-buttons">
                                <button class="details-button">Details</button>
                                <form method="get" asp-controller="Renewal" asp-action="Index">
                                    <input name="rentalId" value="@rental.RentalId" hidden />
                                    <button class="renew-button" type="submit">Renew</button>
                                </form>
                            </div>
                        </div>
                  </div>
                </div>
            }
        </div>
    </div>
} else
{
    <div class="no-rentals-info-div d-flex flex-column justify-content-center align-items-center" style="height: 75vh">
        <h2 class="text-center">You don't have any rentals</h2>
    </div>
}

