@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="d-flex flex-column justify-content-center align-items-center" style="height: 75vh">
    <h2 class="text-center">This page was moved to another location</h2>
    <h6 class="text-center">To register, <a asp-controller="Account">click this link</a>.</h6>
</div>

