@{
    ViewData["Title"] = "Library Statute";
}


<div class="d-flex flex-column justify-content-center align-items-center" style="height: 75vh">
    <h4 class="text-center">Here goes the library statute</h4>
</div>
