@{
    ViewData["Title"] = "Terms and conditions";
}


<div class="d-flex flex-column justify-content-center align-items-center" style="height: 75vh">
    <h4 class="text-center">Here goes the library terms and conditions</h4>
</div>
